*
  box-sizing border-box
  color #eee
  font-family monospace

html
  margin 0
  padding 0
  background-color #2f1238

body
  max-width 923px
  margin 15px auto
  padding 10px

a, button
  cursor pointer

header
  text-decoration italic

footer
  margin-top 200px
