*
  box-sizing border-box
  color #eee
  font-family monospace

html
  margin 0
  padding 0
  background-color #2f1238

body
  max-width 923px
  margin 15px auto
  padding 10px

a, button
  cursor pointer

header
  text-decoration italic

  h1
    text-decoration none

table
  font-size 104%

  td
    padding 0 7px

main#record
  iframe
    width 100%
    min-height 600px

footer
  margin-top 200px
