:root
  --bg-color-1 #e42c22
  --bg-color-2 #210796

*
  box-sizing border-box
  color #eee
  font-family 'Noto Sans SC', monospace;

html
  margin 0
  padding 0
  background-color #2f1238

  background linear-gradient(223deg, var(--bg-color-1), var(--bg-color-2))
  background-size 400% 400%
  
  -webkit-animation BackgroundAnimation 0s ease infinite
  -moz-animation BackgroundAnimation 0s ease infinite
  animation BackgroundAnimation 0s ease infinite
  
  @-webkit-keyframes BackgroundAnimation
    0%
      background-position 0% 50%
    50%
      background-position 100% 50%
    100%
      background-position 0% 50%

  @-moz-keyframes BackgroundAnimation 
    0%
      background-position 0% 50%
    50%
      background-position 100% 50%
    100%
      background-position 0% 50%
  
  @keyframes BackgroundAnimation 
    0%
      background-position 0% 50%
    50%
      background-position 100% 50%
    100%
      background-position 0% 50%

body
  max-width 1523px
  margin 15px auto
  padding 10px

a, button
  cursor pointer

header
  a
    text-decoration none

  h1
    display flex
    align-items baseline

    & > *
      display block

  .icon svg
    height 50px
    max-width 50px
    margin 0 12px

.dirlink, .recordlink
  text-decoration none
  font-weight bold
  margin 0 2px

  &:hover
    text-decoration underline

.cidlink
  font-family monospace
  text-decoration none
  padding 5px

  &:hover
    background-color rgba(221, 221, 221, 0.21)

#records
  .record-row
    display flex

    & > *
      width 3%
      margin 0 0.5%
      white-space nowrap

    .address
      width 30%
      overflow hidden
      text-overflow ellipsis

    .cid
      width 26%
      overflow hidden
      text-overflow ellipsis

    .note
      width 36%
      overflow hidden
      text-overflow ellipsis
      

main#record
  .body
    margin 20px 0
    padding 12px 15px
    border-radius 8px
    background-color rgba(0, 0, 0, 0.2)

    pre
      padding 5px 4px
      border-radius 5px
      background rgba(255, 255, 255, 0.1)
      word-wrap break-word
      white-space pre-wrap

    code
      font-family monospace

  iframe
    width 100%
    min-height 600px
    background-color white
    border none
    border-radius 11px

footer
  margin-top 200px
